<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<!-- cfg target class -->
	<bean id="arService"   class="com.nt.service.ArithmeticService"/>
	
	<!-- cfg Advice class-->
	<bean id="pmAdvice"  class="com.nt.advice.PerformenceMonitoringAdvice"/>
	
	<!-- Cfg Pointcut -->
	<bean id="csPtc"  class="com.nt.pointcut.CommonStaticPointcut">
	    <property name="methodNames">
	       <array>
	         <value>add</value>
	         <value>sub</value>
	       </array>
	    </property>
	</bean>
	
	<!-- Cfg Advisor -->
	<bean id="pmAdvisor"  class="org.springframework.aop.support.DefaultPointcutAdvisor">
	    <property name="advice"  ref="pmAdvice"/>
	    <property name="pointcut" ref="csPtc"/>
	</bean>
	
	<!-- cfg ProxyFactoryBean -->
	<bean id="pfb"  class="org.springframework.aop.framework.ProxyFactoryBean">
	    <property name="target"  ref="arService"/>
	    <property name="interceptorNames">
	       <array>
	         <value>pmAdvisor</value>
	       </array>
	    </property>
	</bean>


</beans>
