<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="basePulsor"  class="com.nt.beans.Bike"  abstract="true">
        <property name="modelName" value="pulsor"/>
        <property name="company"  value="bajaj"/>
        <property name="tankCapacity"  value="15"/>
        <property name="color"  value="red"/>
    </bean>
    
    <bean id="pulsor1"  class="com.nt.beans.Bike"  parent="basePulsor">
        <property name="regNo"  value="TS074566"/>
        <property name="ownerName" value="kabhir"/>
        <property name="engineNo"  value="4446666"/>
        <property name="engienCC"  value="220"/>
    </bean>
    <bean id="pulsor2"  class="com.nt.beans.Bike"  parent="basePulsor">
        <property name="regNo"  value="TS094366"/>
        <property name="ownerName" value="arjun"/>
        <property name="engineNo"  value="44435666"/>
        <property name="engienCC"  value="150"/>
        <property name="color" value="black"/>
    </bean>
    

</beans>
