<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

<!-- DriverManagerDataSource dependent class cfgs -->
<bean id="drds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
	<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
	<property name="username" value="system"/>
	<property name="password" value="manager"/>
</bean>
<!-- DAO class cfgs -->
<bean id="empDao" class="com.nt.dao.EmployeeDAOImpl"  autowire="constructor"/>

<!--Service class cfgs-->
<bean id="empService" class="com.nt.service.EmployeeServiceImpl"  autowire="constructor"/>

<!-- Controller class cfg -->
<bean id="controller"  class="com.nt.controller.MainController" autowire="constructor"/>

</beans>
