<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
    <!-- Target class -->
    <bean id="arService"  class="com.nt.service.ArithmeticService"/>
    <!-- Advice class -->
    <bean id="expLogger"  class="com.nt.aspect.CommonExceptionLogger"/>
    
    <aop:config>
        <aop:pointcut expression="execution(float  com.nt.service.ArithmeticService.div(..))" id="ptc"/>
        <aop:aspect  ref="expLogger" >
           <aop:after-throwing method="exceptionLogger"  pointcut-ref="ptc"  throwing="ex"/>
        </aop:aspect>
    </aop:config>

</beans>
